 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <<i class="devicon-nodejs-plain colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Frameworks/Databases</h2>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-couchdb-plain-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>

      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Systems/Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
     <i class="devicon-gradle-plain-wordmark colored"></i>

      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-windows8-plain colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
</div>
